<html>
  <head> 
    <title> Create Menu </title>
  </head>
  <body>
    <h1>Create new user</h1>
    <form method = 'post'  action ='/users/create' autocomplete = "off">
      Name: <input type = "text" title: "write user full namel." name = "name"><br>
      Email: <input tye = "text" title: "Write user email addres." name = "email"><br>
      Type a Password: <input type = "password", title = "Write user password." name = "password"> <br>
      Confirm Password: <input type = "password", title = "Write user password." name = "cpassword"> <br>
      <input type = "submit" value = "submit", title = "Send all informations">
    </form>
  </body>
</html>
